<mat-sidenav-container fullscreen>
  <mat-sidenav #sidemenu mode="push" fixedInViewport="fixed" class="detail-sidenav-menu">
    <div class="menu" fxLayout="column" fxLayoutAlign="space-around stretch">
      <div class="close" fxFlexAlign="start">
        <button mat-icon-button (click)="sidemenu.toggle()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="writer" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="space-around center">
        <div class="avatar" *ngIf="writer?.avatar">
          <img [src]="writer.avatar">
        </div>
        <div class="name">
          {{ writer.name }}
        </div>
        <div class="intro">
          {{ writer.intro }}
        </div>
        <div class="social" fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="0.5em">
          <app-social-button [data-button-type]="'twitter_follow'" [data-params]="writer.social.twitter"></app-social-button>
          <app-social-button [data-button-type]="'github_follow'" [data-params]="writer.social.github"></app-social-button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="search">
        <form class="form-search" id="form-search">
          <mat-form-field>
            <input matInput placeholder="Search" #searchInput>
            <a matSuffix>
              <mat-icon>search</mat-icon>
            </a>
          </mat-form-field>
        </form>
      </div>
      <mat-divider></mat-divider>
      <div class="links">
        <div class="urls">
          <div class="url">
            <mat-icon>home</mat-icon>
            <a [routerLink]="['/']">Go back to Home</a>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="footer">
        <div class="license" fxLayout="column" fxLayoutGap="0.5em">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" />
          </a>
          <span>This blog is licensed under a </span>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
            Creative Commons Attribution-NonCommercial 4.0 International License
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="detail-sidenav-content">
    <div fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button (click)="sidemenu.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>
    <div fxLayout="row" class="post-detail">
      <div fxFlex="15%" fxHide.xs="true"></div>
      <div fxFlex.gt-xs="70%" class="content">
        <app-post [post]="post"></app-post>
        <div class="share">
          <app-social-button [data-button-type]="'twitter_share'"></app-social-button>
        </div>
      </div>
      <div fxFlex fxHide.xs="true"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
